<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../static/base.css" />

    <script src="https://livejs.com/live.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    
    
    <title>{% block title %}Home{% endblock%}</title>
  
  </head>
<body>
  <header id="header" class="d-flex-column justify-content-center">
    <!-- <a hef="#" class="logo"> TMR</a> -->
    <nav id="navbar" class="navbar nav-menu">
      
      <!-- <img src="../static/academia.png" alt="logo" class="logo"/> -->
      
      <ul class="links">
        <li>
          <a class="nav-item nav-rounded nav-link active" title="Home" red txt-white id="login" href="/">
            <i class="material-icons" >home</i>
          </a>
        </li>
        <li>
          <a class="nav-item nav-rounded nav-link" title="About" red txt-white id="login" href="/about">
            <i class="material-icons">person</i>
          </a>
        </li>
        <li>
          <a class="nav-item nav-rounded nav-link" title="Experiences" txt-white id="login" href="/experiences">
            <i class="material-icons">work</i>
          </a>
        </li>
        <li>
          <a class="nav-item nav-rounded nav-link" title="Skills" txt-white id="login" href="/skills">
            <i class="material-icons">note</i>
          </a>
        </li>
        <li>
          <a class="nav-item nav-rounded nav-link" title="Contact" txt-white id="login" href="/contact">
            <i class="material-icons">call</i>
          </a>
        </li>
      </ul>
    </header>
  </nav>
</header>

  <!-- <body grey>

    <header>
      <div class="btn-menu" onclick="togglenav()">
        <i class="material-icons">menu</i>
      </div>

      <nav>
        <button class="btn-rounded" red txt-white>
          <i class="material-icons">home</i>Home
        </button>
        <button class="btn-rounded" blue txt-white>
          <i class="material-icons">face</i>About
        </button>
        <button class="btn-rounded" green txt-white>
          <i class="material-icons">business</i>Job
        </button>
        <button class="btn-rounded" style="margin-top: 20px">
          <i class="material-icons">settings</i>settings
        </button>
      </nav>
    </header> -->

    <div class="container">{% block content %}{% endblock %}</div>
  
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>
