@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(//db.onlinewebfonts.com/c/229a57bbeef591e04a1fdfe347c90864?family=Centra+No2);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Centra, sans-serif;
    
}

body {
    background-image: url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    border: 1px solid purple;
}

span {
    color: #fa9b92;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
  border: 1px solid pink
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  transition: 255ms;
  padding: 14px;
  border: 1px solid purple
}

.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu .active, .nav-menu .active:focus, .nav-menu li:hover>a {
  color: rgb(249, 242, 242);
  background: #2a130f;
}

.nav-menu a i, .nav-menu a:focus i {
  font-size: 30px;
}

.nav-rounded{
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-bottom: 10px;
  border: none;
  display: flex;
  padding: 8px;
  align-items: center;
  overflow: hidden;
  transition: 255ms;
  cursor: pointer;
  
}

.nav-menu{
  margin: 6px;
  padding: 6px;
  display: flex;
  justify-content: center;
  position: fixed;
  cursor: pointer;
  right: 0;
  background-color: transparent;
  border-radius: 40px;
  user-select: none;
}
 
nav ul li a {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color:#fff;
  transition: width 0.5;
}

 
nav ul li a i {
  display: none;
  justify-content: space-around;
  text-decoration: none;
  color:#fff;
}

nav ul li a:hover i {
  display: block;
}


nav ul li a:hover {
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#name-menu{
  font-family: Centra, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

h1{
  color: #fff;
  font-size: 65px;
  margin-bottom: 50px;
}

h3 {
  color: #fff;
  font-size: 45px;
  margin-top: 80px;
  margin-bottom: -10px;
}

h4 {
  color: #fcfc;
  letter-spacing: 2px;
  margin-bottom: 50px;
  font-size: 20px;
}

#btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff ;
  color: #261b1a;
  font-size: 1.5em;
  z-index: 9;
  transform: translateY(100px);
  font-family: Centra, sans-serif;
  font-weight: bold;
}

div.container {
  margin: 100px 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  font-family: Centra, sans-serif;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin-top: 12%;
  border: 1px solid gray
   
}

div.col-1 {
  position: relative;
  flex-basis: 40%;
  margin-left: 170px ;
  float: left;
  border: 1px solid red;
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);

}

div.col-2 {
  position: relative;
  flex-basis: 55%;
  display: flex;
  margin-left: 750px ;
  border-radius: 280px;
  overflow: hidden;
  float: left;
  float: center;
  border: 1px solid blue
}

div.col-2 .video {
  position: relative;
  flex-basis: 40%;
  border-radius: 100px;
  width: 400px;
}

#menu {
  width: 25px;
  cursor: pointer;
  display: none;
}

div.col-3 {
  position: relative;
  flex-basis: 87%;
  margin-right: 5%;
  margin-left: 2%;
  float: center;
  margin-top: 60px;
  box-sizing: border-box;
  border: 1px solid green;
  letter-spacing: 1px;    
}

.social-links img{
  height: 40px;
  margin: 20px;
  cursor: pointer;

}

.social-links {
  text-align: center;
}

@media only screen and (max-width:700px){
  nav ul {
    width: 100%;
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;
  }

  nav ul li {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a {
    color:#fff
  }
  #menu{
    display: block;
  }
}

/* header {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
} */

/* header ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li{
  list-style: none;
  margin-left: 20px;
}

header ul li a{
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
  font-size: 20px;
}

header ul li a:hover,
header ul li a.active
{
  background: #fff;
  color: #2b1055;
} */


/* 
.btn-rounded{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 10px;
    border: none;
    display: flex;
    padding: 8px;
    align-items: center;
    overflow: hidden;
    transition: 255ms;
    cursor: pointer;
    
  }
  
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    transition: 255ms;
    padding: 14px;
  }
  
  nav:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 8px 10px 0px black;
  }
  
  .btn-menu{
    margin: 6px;
    padding: 6px;
    display: flex;
    justify-content: center;
    position: fixed;
    cursor: pointer;
    right: 0;
    background-color: #fafafa;
    border-radius: 40px;
    user-select: none;
  }
  
  @media(max-width: 622px){
    nav:hover{
      left: 0;
    }
    nav.open{
      left: 0;
    }
    nav {
      left: -100%;
      background-color: rgba(255, 255, 255, 0.5);
      width: 250px;
    }
     .btn-rounded {
        width: 100%;
      }
  }
  
  @media (min-width: 622px){
    .btn-rounded:hover {
        width: 90px;
     }
    .btn-menu {
      display: none;
    }
  }
  
  button.btn-rounded i{
    margin-right: 12px;
  }
  
  button[txt-white] {
    color: #fff;
  }
  
  button[red]{
    background-color: red!important;
  }
  
  
  [blue]{
    background-color: blue!important;
  }
  
  
  [green]{
    background-color: green!important;
  }
 */